.nav {
  color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1em 1em 1em 0 ;
  gap: 1em;
  background-color: #0000004d;
  cursor: pointer;

  .img-logo{
    width: 30%;
    position: absolute;
    z-index: 99;
    left:-12px
  }
  .ul-nav {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
    .titulo{
        margin-left: 55px;
    }
   
  }
  .btn-menu {
    font-size: 2.5em;
    
    .items-redes {
      font-size: 1.9em;
    }
  }
}

.solid-toggle {
  color: #d3a23a;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1em;
  gap: 1em;
  position: relative;
  background-color: #000000;
}
